#

botId: Aurula
backgroundColor: #de53a1
avatarDir: wing-fairy-girl
talkResumingRate: 0.8

# 自発的な出現確率(0〜1.0)
spontaneousAppearanceRate: 0.4

# 召喚時の登場確率(0〜1.0)
summonAppearanceRate: 0.8

# 昼間の登場確率補正(-1.0〜+1.0)
daytimeAppearanceAdjustment: +0.3

# 夜間の登場確率補正(-1.0〜+1.0)
nighttimeAppearanceAdjustment: 0.1

# 晴天時の登場確率補正(-1.0〜+1.0)
goodWeatherAppearanceAdjustment: 0.2

# 悪天候時の登場確率補正(-1.0〜+1.0)
badWeatherAppearanceAdjustment: -0.2
